{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Logowanie{% endblock %}

{% block content %}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-6 offset-md-3">
                <h1>Logowanie</h1>
                <p>Wypełnij poniższy formularz</p>
                <form action="" method="post">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <p><input class="btn btn-primary" type="submit" value="Zaloguj"></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}